[Unit]
Description=Rollback Helper for Registration
DefaultDependencies=no
Requires=network-online.target
After=local-fs.target networki-online.target
ConditionPathExists=/var/lib/rollback/check-registration

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/rollback-reset-registration
StandardOutput=tty
#StandardInput=tty
#StandardError=tty

[Install]
WantedBy=multi-user.target
